<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Dashboard</title>
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <script  src="/js/solid.js" ></script>
    <script  src="/js/fontawesome.js" ></script>
    <link rel="stylesheet" href="/css/style.css">
   <style>
     @font-face {
          font-family: Alef;
         src:  url('/css/Alef-Regular.ttf') format('truetype');
}
       body {

font-family: 'Alef';
background: #fafafaea;
}

   </style>
  </head>

<body>
 
  <div class="wrapper">
    <nav id="sidebar" class="" >
        <div class="sidebar-header d-flex justify-content-center">
            <div class="text-white font-weight-bold" style="align-self: center; font-size: 25px;">Pro Planner</div>
        </div>
        
        <ul class="list-unstyled components ">
            <li class="item"> Home</li>
            <li class="active">
                <a href="#" > <i class="fas fa-chart-line"></i> Dashboard</a>
              </li>
            <li class="item"> Employees</li>
            <li>
               <a href="/client/employees" > <i class="fas fa-users"></i> Manage employees</a>
             </li>
             <li class="line"></li>
             <li class="item"> Plannings</li>
             <li>
                <a href="/client/all_plannings"><i class="fas fa-table"></i> All plannings</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="#drop" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-calendar-plus"></i> New planning</a>
                <ul class="collapse list-unstyled" id="drop">
                  
                    <li>
                       <a href="/client/new_manuel_planning"><i class="fas fa-puzzle-piece"></i> Manuel generation</a>
                    </li>
                    <li class="line"></li>
                    <li>
                      <a href="/client/new_auto_planning"><i class="fas fa-bolt"></i> Auto generation</a>
                  </li>
                </ul>
            </li>
            <li class="item"> Entities</li>
            <li>
                <a href="/client/entities"><i class="fas fa-pen-square"></i> Define entities</a>
            </li>
            
        </ul>

    </nav>


    <div id="content" >
 <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">

        <a type="button" id="toggle_sidebar" class=" text-white ">
            <i class="fas fa-align-left"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <div class="user d-flex justify-content-center">
                      <img class="rounded-circle" src="/user.png" style="height: 35px; width: 35px;align-self: center;">
                    <div style="padding-left: 10px">
                      <p class="text-white font-weight-bold"> Riyadh Herizi</p>
                      <a class="text-white font-weight-bold" href="#">Logout</a>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container-fluid">


    </div>
    </div>
</div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="/js/jquery-3.2.1.min.js" ></script>
    <!-- Popper.JS -->
    <script src="/js/popper.min.js" ></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js" ></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
     theme: "minimal"
       });
    });
      $(document).ready(function () {

$("#sidebar").mCustomScrollbar({
     theme: "minimal"
});

$('#toggle_sidebar').on('click', function () {
  document.getElementById("content").classList.toggle("active");
  document.getElementById("sidebar").classList.toggle("active");
    
    $('.collapse.in').toggleClass('in');
    // and also adjust aria-expanded attributes we use for the open/closed arrows
    // in our CSS
    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
});

});
    </script>
</body>

</html>