<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>All Plannings</title>
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <script  src="/js/solid.js" ></script>
    <script  src="/js/fontawesome.js" ></script>
    <link rel="stylesheet" href="/css/style.css">
   <style>
   .title-item {
        font-size :13px;
       font-weight:bolder;
   }
   .time-item {
       display:inline-block;
       font-size :13px;
       font-weight:bolder;
   }
     @font-face {
          font-family: Alef;
         src:  url('/css/Alef-Regular.ttf') format('truetype');
}
       body {

font-family: 'Alef';
background: #fafafaea;
}

   </style>
  </head>

<body>
 
  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="" >
        <div class="sidebar-header d-flex justify-content-center">
            <div class="text-white font-weight-bold" style="align-self: center; font-size: 25px;">Pro Planner</div>
        </div>
        
        <ul class="list-unstyled components ">
            <li class="item"> Home</li>
            <li >
                <a href="/client/" > <i class="fas fa-chart-line"></i> Dashboard</a>
              </li>
            <li class="item"> Employees</li>
            <li >
               <a href="/client/employees" > <i class="fas fa-users"></i> Manage employees</a>
             </li>
             <li class="line"></li>
             <li class="item"> Plannings</li>
             <li class="active">
                <a href="#"><i class="fas fa-table"></i> All plannings</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="#drop" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-calendar-plus"></i> New planning</a>
                <ul class="collapse list-unstyled" id="drop">
                  
                    <li>
                       <a href="/client/new_manuel_planning"><i class="fas fa-puzzle-piece"></i> Manuel generation</a>
                    </li>
                    <li class="line"></li>
                    <li>
                      <a href="/client/new_auto_planning"><i class="fas fa-bolt"></i> Auto generation</a>
                  </li>
                </ul>
            </li>
            <li class="item"> Entities</li>
            <li>
                <a href="/client/entities"><i class="fas fa-pen-square"></i> Define entities</a>
            </li>
            
        </ul>

    </nav>


    <div id="content" >
 <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">

        <a type="button" id="toggle_sidebar" class=" text-white ">
            <i class="fas fa-align-left"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <div class="user d-flex justify-content-center">
                      <img class="rounded-circle" src="/user.png" style="height: 35px; width: 35px;align-self: center;">
                    <div style="padding-left: 10px">
                      <p class="text-white font-weight-bold"> Riyadh Herizi</p>
                      <a class="text-white font-weight-bold" href="#">Logout</a>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid bg-custom" style="padding-left: 40px; ">
  <div class="jumbotron p-2 bg-custom">
    <h1>Plannings</h1>
    <p>Here you see and edit created plannings.</p>
  </div>

  <div class="row">
    <div class="col shadow text-center">
     <table class="table text-center table-stripped">
         <thead>
         <tr ><th colspan="3" class="text-primary font-weight-bold">Plannings</th></tr>
         </thead>
         <tbody id="plannings">
          <% for (var i = 0; i < plannings.length ; i++) { %>
            <tr>
                <td class="text-center"> <a class="btn btn-sm btn-light  font-weight-bolder " data-toggle="modal" data-target="#view_planning" onclick="show_planning(<%=plannings[i].id %>,this)" >
                    <%= plannings[i].planning_name %>
                    </a>     </td>
                    <td>                    <a class="btn btn-info btn-sm col-2 text-white d-inline" href="/planning_control/<%=plannings[i].id%>"><i class="fa fa-edit"></i>Edit</a>
</td>
                    <td>                    <a class="btn btn-danger btn-sm col-2 d-inline text-white"><i class="fa fa-trash"></i>Delete</a>
</td>
            
                 
            </tr>
        <% } %>


         </tbody>
     </table>

    </div>
   
  </div>
    </div>
    </div>
</div>
 <script >
     var work_days=[
        
        ];
          var times =
              [
                  {start:{hour:8, min:0},current:{hour:8, min:0}},
                  {start:{hour:8, min:0},current:{hour:8, min:0}},
                  {start:{hour:8, min:0},current:{hour:8, min:0}},
                  {start:{hour:8, min:0},current:{hour:8, min:0}},
                  {start:{hour:8, min:0},current:{hour:8, min:0}},
                  {start:{hour:8, min:0},current:{hour:8, min:0}},
                  {start:{hour:8, min:0},current:{hour:8, min:0}},
          ];
          var sub_entities = [
            ]
    
 </script>
   <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="/js/jquery-3.2.1.min.js" ></script>
    <!-- Popper.JS -->
    <script src="/js/popper.min.js" ></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js" ></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>    <script>
      $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
     theme: "minimal"
       });
    });
      $(document).ready(function () {

$("#sidebar").mCustomScrollbar({
     theme: "minimal"
});

$('#toggle_sidebar').on('click', function () {
  document.getElementById("content").classList.toggle("active");
  document.getElementById("sidebar").classList.toggle("active");
    
    $('.collapse.in').toggleClass('in');
    // and also adjust aria-expanded attributes we use for the open/closed arrows
    // in our CSS
    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
});

});
    </script>
    <script src="/js/planning_view.js"></script>
</body>
<div class="modal fade"  id="view_planning">
    <div class="modal-dialog modal-xl" >
        <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="name_planning"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
  
            <!-- Modal body -->
            <div class="modal-body">
                <div id="view">
                    <div class="table-responsive">
                      <table class="table text-center">
                          <thead class="text-primary"style="background:#ffffff;border: 1px solid rgb(103, 128, 240)">
            
                              <tr id="times" class="collapse bg-primary" style="position: absolute;z-index: 3;display: hidden;">
                                 <div>
                                     <td></td>
                                     <td>
                                         <h4 class="text-white">Sunday</h4>
                                      <label class="form-check-label text-white">
                                          <input class="form-check-input" id="check_box-0" onclick="switch_day(0)" type="checkbox" checked> Work day
                                      </label>
                                      <div class="form-group row">
                                          <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                          <div class="col-10">
                                              <input onchange="update_empty(this,0)" class="form-control" type="time" value="08:00" id="time-empty-0">
                                          </div>
                                      </div>
            
                                  </td>
                                     <td>
                                        <h4 class="text-white">Monday</h4>
                                         <label class="form-check-label text-white">
                                             <input class="form-check-input"  onclick="switch_day(1)" id="check_box-1" type="checkbox" checked> Work day
                                         </label>
                                         <div class="form-group row">
                                             <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                             <div class="col-10">
                                                 <input onchange="update_empty(this,1)" class="form-control" type="time" value="08:00" id="time-empty-1">
                                             </div>
                                         </div>
            
                                     </td>
                                     <td>
                                        <h4 class="text-white">Tuesday</h4>
                                         <label class="form-check-label text-white">
                                             <input class="form-check-input" onclick="switch_day(2)"  id="check_box-2" type="checkbox" checked> Work day
                                         </label>
                                         <div class="form-group row">
                                             <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                             <div class="col-10">
                                                 <input onchange="update_empty(this,2)" class="form-control" type="time" value="08:00" id="time-empty-2">
                                             </div>
                                         </div>
            
                                     </td>
                                     <td>
                                        <h4 class="text-white">Wednesday</h4>
                                         <label class="form-check-label text-white">
                                             <input class="form-check-input" onclick="switch_day(3)" id="check_box-3" type="checkbox" checked> Work day
                                         </label>
                                         <div class="form-group row">
                                             <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                             <div class="col-10">
                                                 <input onchange="update_empty(this,3)" class="form-control" type="time" value="08:00" id="time-empty-3">
                                             </div>
                                         </div>
            
                                     </td>
                                     <td>
                                        <h4 class="text-white">Thursday</h4>
                                         <label class="form-check-label text-white">
                                             <input class="form-check-input" onclick="switch_day(4)" id="check_box-4" type="checkbox" checked> Work day
                                         </label>
                                         <div class="form-group row">
                                             <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                             <div class="col-10">
                                                 <input onchange="update_empty(this,4)" class="form-control" type="time" value="08:00" id="time-empty-4">
                                             </div>
                                         </div>
            
                                     </td>
                                     <td>
                                        <h4 class="text-white">Friday</h4>
                                         <label class="form-check-label text-white">
                                             <input class="form-check-input" onclick="switch_day(5)" id="check_box-5" type="checkbox" checked> Work day
                                         </label>
                                         <div class="form-group row">
                                             <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                             <div class="col-10">
                                                 <input onchange="update_empty(this,5)" class="form-control" type="time" value="08:00" id="time-empty-5">
                                             </div>
                                         </div>
            
                                     </td>
                                     <td> 
                                        <h4 class="text-white">Saturday</h4>
                                         <label class="form-check-label text-white">
                                             <input class="form-check-input"  onclick="switch_day(6)" id="check_box-6" type="checkbox" checked> Work day
                                         </label>
                                         <div class="form-group row ">
                                             <label for="example-time-input" class="col-2 col-form-label text-white">Start:</label>
                                             <div class="col-10">
                                                 <input onchange="update_empty(this,6)" class="form-control" type="time" value="08:00" id="time-empty-6">
                                             </div>
                                         </div>
            
                                     </td>
            
                                     </div>
            
                              </tr>
            
            
                          <tr style="z-index: 1;">
                              <th scope="col">timeline</th>
                              <th scope="col">Sunday</th>
                              <th scope="col">Monday</th>
                              <th scope="col">Tuesday</th>
                              <th scope="col">Wednesday</th>
                              <th scope="col">Thursday</th>
                              <th scope="col">Friday</th>
                              <th scope="col">Saturday</th>
                          </tr>
                          </thead>
                          <tbody style="z-index: 1;" >
                          <tr>
                              <td class="vertical-time" id="vertical-time">
            
            
                              </td>
                              <td>
                                <div class="card bg-primary" id="empty-0" style="margin-bottom: 5px;"></div>
            
                                  <div id="0"
                                         style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px" >
                                  </div>
                                 
                              </td>
                              <td>
                                <div class="card bg-primary" id="empty-1" style="margin-bottom: 5px;"></div>
            
                                  <div id="1"
                                       style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px" >
                                    </div>
                                  </td>
            
                              <td>
                                <div class="card bg-primary" id="empty-2" style="margin-bottom: 5px;"></div>
            
                                  <div id="2"
                                        style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px" >
                                    </div>
                                 
                              </td>
                              <td>
                                <div class="card bg-primary" id="empty-3" style="margin-bottom: 5px;"></div>
            
                                  <div id="3"
                                       style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px">
                                    </div>
                                 
                              </td>
                              <td>
                                <div class="card bg-primary" id="empty-4" style="margin-bottom: 5px;"></div>
            
                                  <div id="4"
                                      style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px" >
                                    </div>
                                
                              </td>
                              <td>
                                <div class="card bg-primary" id="empty-5" style="margin-bottom: 5px;"></div>
            
                                  <div id="5"
                                      style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px" >
                                    </div>
                                 
                              </td>
                              <td>
                                <div class="card bg-primary" id="empty-6" style="margin-bottom: 5px;"></div>
            
                                  <div id="6"
                                      style="width: 100% ;min-width:120px; height: auto;padding-bottom: 50px">
                                    </div>
                                
                              </td>
                          </tr>
                          </tbody>
                      </table>
                    </div>
                  </div>
            </div>
  
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
  
        </div>
    </div>
  </div>

</html>