<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <style>
    .big-text {
      font-size: 2rem;
      line-height: 68px;
      margin-bottom: 16px
    }
    .navbar {
      padding: 0px;
      padding-left: 20px;
      padding-right: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
      width: auto\9; /* ie8 */
    }
    * {
      font-family: "Calibri Light";
    }
  </style>
</head>
<body>
<!--navbar -->
<nav class="navbar navbar-expand-md bg-white navbar-light shadow-sm">
  <a class="navbar-brand text-primary" href="#">Entreprise </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav  ml-auto">

      <li class="nav-item">
         <a class="nav-link text-dark" href="/login">Login</a>
      </li>

    </ul>
  </div>
</nav>
<div class="container-fluid shadow-sm">
  <div class="row justify-content-md-center" style="margin-top: 100px">

    <div class="col-md-4 "> <br><br>
      <div class="text-dark big-text ">Solve more and Meet your business challenges head on with us.</div>
    </div>

    <div class="col-md-6">

       <img  src="/entreprise.png" alt="entreprise">

    </div>
  </div>
</div>

</body>
</html>
