
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>


<div class="container">
    <div class="row justify-content-md-center" style="margin-top: 30px">
        <div class="col-md-4">

            <% if (locals.message ) { %>  <div class="alert  <%=locals.messageClass%>" role="alert">
                <%=locals.message%>
            </div>      <%} %>

            <form method="POST" action="/admin/register">
                <div class="form-group">
                    <label for="firstNameInput">First Name</label>
                    <input name="firstName" type="text" class="form-control" id="firstNameInput">
                </div>

                <div class="form-group">
                    <label for="lastNameInput">Last Name</label>
                    <input name="lastName" type="text" class="form-control" id="lastNameInput">
                </div>

                <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input name="email" type="email" class="form-control" id="emailInput" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>

                <div class="form-group">
                    <label for="confirmPasswordInput">Confirm Password</label>
                    <input name="confirmPassword" type="password" class="form-control" id="confirmPasswordInput"
                           placeholder="Re-enter your password here">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
