<!DOCTYPE html>
<html lang="en">
<head>
    <style>

    </style>
    <meta charset="UTF-8">
    <title>planning</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body style="margin: 10px">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
    <label for="groups">Select group</label>
    <select onchange="show_sub_entities()" class="form-control" id="groups">
       <option value="0"> Select group </option>
      <% for (var i = 0; i < groups.length ; i++) { %>
           <option value="<%= groups[i].id %>">
                  <%= groups[i].group_name %>
            </option>
      <% } %>
    </select>
  </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Entities.js</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="entities" ondrop="drop(event)" ondragover="allowDrop(event)">


                </td>
            </tr>
            </tbody>
        </table>
    </div>
      <div class="col-md-8">

          <table class="table text-center">
              <thead>
              <tr>
                  <th scope="col">Sunday</th>
                  <th scope="col">Monday</th>
                  <th scope="col">Tuesday</th>
                  <th scope="col">Wednesday</th>
                  <th scope="col">Thursday</th>
                  <th scope="col">Friday</th>
                  <th scope="col">Saturday</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td >
                      <div id="sun"
                            ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px; height: 800px ;" >
                      </div>
                  </td>
                  <td>
                      <div id="mon"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px; height: 800px ;" >
                      </div></td>
                  <td>
                      <div id="the"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px; height: 800px ;" >
                      </div>
                  </td>
                  <td>
                      <div id="wen"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px; height: 800px ;" >
                      </div>
                  </td>
                  <td>
                      <div id="thu"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px; height: 800px ;" >
                      </div>
                  </td>
                  <td>
                      <div id="fri"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px; height: 800px ;" >
                      </div></td>
                  <td>
                      <div id="sat"
                           ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 120px; height: 800px ;" >
                      </div>
                  </td>

              </tr>
              </tbody>
          </table>

      </div>
  </div>


</div>




</body>
<script>
    var start = 7;
    var end = 17;
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        console.log(document.getElementById(data));
        var x = document.getElementById(data)
        ev.target.appendChild(x);
        //if(ev.target.id === "list" ) {}
        update_time();
    }

    function show_sub_entities() {
      var id=document.getElementById("groups").options[document.getElementById("groups").selectedIndex].value;
      if(id !== 0)
      $.ajax({
          url: '/client/group_sub_entities',
          type: 'POST',
          cache: false,
          data: {
              id_group :id
          },
          success: function(data){
              console.log("executed")
              var x ="";
              for (var i = 0; i < data.sub_entities.length ; i++) {
                  x=x+ " <div id=\""+data.sub_entities[i].id+"\" class=\"card shadow text-center \" draggable=\"true\" ondragstart=\"drag(event)\">\n" +
                      "                        <div class=\"card-body \" style=\"padding: 3px\" >\n" +
                      "                            <h5 class=\"card-title\" style=\"font-size: 10px\"></h5>\n" +
                      "                            <h5 class=\"card-title\" style=\"font-size: 15px\">"+data.sub_entities[i].name+"</h5>\n" +
                      "                        </div>\n" +
                      "                    </div>";
              }
              document.getElementById("entities").innerHTML=x;
          }
          , error: function(jqXHR, textStatus, err){
              alert('status '+textStatus+', err '+err)
          }
      })
    }


</script>
<script>


var events = [
    {
       name: "algo",
       employee : "riyadh" ,
        length : {  hour: 2, min:0 } ,
        start : {
           hour: 0, min:0
        },
        end : {
            hour: 0, min:0
        }
    },
    {
        name: "analyse",
        employee : "latif" ,
        length : {  hour: 2, min:0 } ,
        start : {
            hour: 0, min:0
        },
        end : {
            hour: 0, min:0
        }
    },
    {
        name: "proba",
        employee : "brahim" ,
        length : {  hour: 2, min:0 } ,
        start : {
            hour: 0, min:0
        },
        end : {
            hour: 0, min:0
        }
    },
];

</script>
</html>
