/*
    DEMO STYLE
*/
.bg-custom {
    background: #fafafaea;  
}

p {
   margin-bottom: 0px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    height: 50px;
    padding: 15px ,0,0,0;
    background: #448aff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    box-shadow: 2px 3px 23px -5px rgba(68,137,255,1);
        width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fafafaea;
    
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -270px;
}
svg {
    margin-right: 10px;
}
#sidebar .sidebar-header {
 
    height: 50px;
    background: #448aff  ;
}
.line {
    height: 1px;
    background-color: rgba(128, 120, 120, 0.322);
    margin-left: 30px;
}
#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #0066ff;
    padding: 10px;
}

#sidebar ul li a {
    margin-left: 20px;
    padding: 10px;
    font-size: 1.1em;
    display: block;

}

#sidebar ul li a:hover {
    background: #0066ff;
    color: white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background:  #0066ff;
    color: white;
  
}
.item {
    padding: 8px;
    color:#0066ff ;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
    
}
    
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 270px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -270px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 270px);
    }
    #sidebarCollapse span {
        display: none;
    }
}